In [8]:
import requests
import pandas as pd
import sqlite3
import lxml.html
import urllib
import urllib.request
from bs4 import BeautifulSoup

In [9]:
r = requests.get("https://www.basketball-reference.com/teams/")

In [10]:
r

In [11]:
html               = lxml.html.fromstring(r.text)
teams_active_table = html.get_element_by_id("teams_active")
tablebody          = teams_active_table.getchildren()[3]

In [12]:
teams_active_table

In [13]:
teams_active_table.getchildren()

[<Element caption at 0x7f7276827040>,
 <Element colgroup at 0x7f7276827400>,
 <Element thead at 0x7f7276827270>,
 <Element tbody at 0x7f7276827630>]

In [14]:
tablebody

In [15]:
tablebody.getchildren()

[<Element tr at 0x7f7276827810>,
 <Element tr at 0x7f7276827720>,
 <Element tr at 0x7f7276827c20>,
 <Element tr at 0x7f7276827c70>,
 <Element tr at 0x7f7276827cc0>,
 <Element tr at 0x7f7276827d10>,
 <Element tr at 0x7f7276827d60>,
 <Element tr at 0x7f7276827db0>,
 <Element tr at 0x7f7276827e00>,
 <Element tr at 0x7f7276827e50>,
 <Element tr at 0x7f7276827ea0>,
 <Element tr at 0x7f7276827ef0>,
 <Element tr at 0x7f7276827f40>,
 <Element tr at 0x7f7276827f90>,
 <Element tr at 0x7f727682d040>,
 <Element tr at 0x7f727682d090>,
 <Element tr at 0x7f727682d0e0>,
 <Element tr at 0x7f727682d130>,
 <Element tr at 0x7f727682d180>,
 <Element tr at 0x7f727682d1d0>,
 <Element tr at 0x7f727682d220>,
 <Element tr at 0x7f727682d270>,
 <Element tr at 0x7f727682d2c0>,
 <Element tr at 0x7f727682d310>,
 <Element tr at 0x7f727682d360>,
 <Element tr at 0x7f727682d3b0>,
 <Element tr at 0x7f727682d400>,
 <Element tr at 0x7f727682d450>,
 <Element tr at 0x7f727682d4a0>,
 <Element tr at 0x7f727682d4f0>,
 <Element tr at 0x7f727682d540>,
 <Element tr at 0x7f727682d590>,
 <Element tr at 0x7f727682d5e0>,
 <Element tr at 0x7f727682d630>,
 <Element tr at 0x7f727682d680>,
 <Element tr at 0x7f727682d6d0>,
 <Element tr at 0x7f727682d720>,
 <Element tr at 0x7f727682d770>,
 <Element tr at 0x7f727682d7c0>,
 <Element tr at 0x7f727682d810>,
 <Element tr at 0x7f727682d860>,
 <Element tr at 0x7f727682d8b0>,
 <Element tr at 0x7f727682d900>,
 <Element tr at 0x7f727682d950>,
 <Element tr at 0x7f727682d9a0>,
 <Element tr at 0x7f727682d9f0>,
 <Element tr at 0x7f727682da40>,
 <Element tr at 0x7f727682da90>,
 <Element tr at 0x7f727682dae0>,
 <Element tr at 0x7f727682db30>,
 <Element tr at 0x7f727682db80>,
 <Element tr at 0x7f727682dbd0>,
 <Element tr at 0x7f727682dc20>,
 <Element tr at 0x7f727682dc70>,
 <Element tr at 0x7f727682dcc0>,
 <Element tr at 0x7f727682dd10>,
 <Element tr at 0x7f727682dd60>,
 <Element tr at 0x7f727682ddb0>,
 <Element tr at 0x7f727682de00>,
 <Element tr at 0x7f727682de50>,
 <Element tr at 0x7f727682dea0>,
 <Element tr at 0x7f727682def0>,
 <Element tr at 0x7f727682df40>,
 <Element tr at 0x7f727682df90>,
 <Element tr at 0x7f727682e040>,
 <Element tr at 0x7f727682e090>,
 <Element tr at 0x7f727682e0e0>,
 <Element tr at 0x7f727682e130>,
 <Element tr at 0x7f727682e180>,
 <Element tr at 0x7f727682e1d0>,
 <Element tr at 0x7f727682e220>,
 <Element tr at 0x7f727682e270>,
 <Element tr at 0x7f727682e2c0>,
 <Element tr at 0x7f727682e310>,
 <Element tr at 0x7f727682e360>,
 <Element tr at 0x7f727682e3b0>,
 <Element tr at 0x7f727682e400>,
 <Element tr at 0x7f727682e450>,
 <Element tr at 0x7f727682e4a0>,
 <Element tr at 0x7f727682e4f0>,
 <Element tr at 0x7f727682e540>,
 <Element tr at 0x7f727682e590>,
 <Element tr at 0x7f727682e5e0>,
 <Element tr at 0x7f727682e630>,
 <Element tr at 0x7f727682e680>]

In [16]:
tablebody.getchildren()[0].getchildren()

[<Element th at 0x7f7276827b80>,
 <Element td at 0x7f727682e7c0>,
 <Element td at 0x7f727682eae0>,
 <Element td at 0x7f727682eb30>,
 <Element td at 0x7f727682eb80>,
 <Element td at 0x7f727682ebd0>,
 <Element td at 0x7f727682ec20>,
 <Element td at 0x7f727682ec70>,
 <Element td at 0x7f727682ecc0>,
 <Element td at 0x7f727682ed10>,
 <Element td at 0x7f727682ed60>,
 <Element td at 0x7f727682edb0>,
 <Element td at 0x7f727682ee00>]

In [17]:
tablebody.getchildren()[1].getchildren()

[<Element th at 0x7f7276827900>,
 <Element td at 0x7f7276872b80>,
 <Element td at 0x7f7276872680>,
 <Element td at 0x7f7276872860>,
 <Element td at 0x7f7276872770>,
 <Element td at 0x7f7276872590>,
 <Element td at 0x7f72768726d0>,
 <Element td at 0x7f7276872630>,
 <Element td at 0x7f72768725e0>,
 <Element td at 0x7f72940424f0>,
 <Element td at 0x7f72948fbb30>,
 <Element td at 0x7f727c2ac130>,
 <Element td at 0x7f727682ea40>]

In [18]:
tablebody.getchildren()[2].getchildren()[0].text_content()

'St. Louis Hawks'

In [19]:
tablebody.getchildren()[2].getchildren()[1].text_content()

'NBA'

In [20]:
len( tablebody.getchildren()[1:] )

84

In [21]:
data = {
    "franchise": [],
    "lg":        [],
    "from":      [],
    "to":        [],
    "yrs":       [],
    "g":         [],
    "w":         [],
    "l":         [],
    "w/l%":      [],
    "plyfs":     [],
    "div":       [],
    "conf":      [],
    "champ":     []
}

for row in tablebody.getchildren()[1:10]:
    print(row.text_content().strip())

Atlanta HawksNBA1968-692019-2052420120682133.49233500
St. Louis HawksNBA1955-561967-68131005553452.55012601
Milwaukee HawksNBA1951-521954-55428191190.3240000
Tri-Cities BlackhawksNBA1949-501950-5121325478.4091000
Boston CelticsNBA/BAA1946-472019-2074579634262370.5915731917
Brooklyn NetsNBA/ABA1967-682019-2053429418592435.43328522
Brooklyn NetsNBA2012-132019-208646277369.4295000
New Jersey NetsNBA1977-782011-1235282211861636.42016420
New York NetsNBA1976-771976-771822260.2680000

In [22]:
row

In [23]:
row.getchildren()[0].text_content()

'New York Nets'

In [24]:
print("franchise: ", row.getchildren()[0].text_content().strip())
print("lg:        ", row.getchildren()[1].text_content().strip())
print("from:      ", row.getchildren()[2].text_content().strip())
print("to:        ", row.getchildren()[3].text_content().strip())
print("yrs:       ", row.getchildren()[4].text_content().strip())
print("g:         ", row.getchildren()[5].text_content().strip())
print("w:         ", row.getchildren()[6].text_content().strip())
print("l:         ", row.getchildren()[7].text_content().strip())
print("w/l%:      ", row.getchildren()[8].text_content().strip())
print("plyfs:     ", row.getchildren()[9].text_content().strip())
print("div:       ", row.getchildren()[10].text_content().strip())
print("conf:      ", row.getchildren()[11].text_content().strip())
print("champ:     ", row.getchildren()[12].text_content().strip())

franchise:  New York Nets
lg:         NBA
from:       1976-77
to:         1976-77
yrs:        1
g:          82
w:          22
l:          60
w/l%:       .268
plyfs:      0
div:        0
conf:       0
champ:      0

In [25]:
len( tablebody.getchildren() )

85

In [26]:
data = {
    "franchise": [],
    "lg":        [],
    "from":      [],
    "to":        [],
    "yrs":       [],
    "g":         [],
    "w":         [],
    "l":         [],
    "w/l%":      [],
    "plyfs":     [],
    "div":       [],
    "conf":      [],
    "champ":     []
}

for row in tablebody.getchildren()[1:14]:
    data["franchise"].append(row.getchildren()[0].text_content().strip())

In [27]:
data["franchise"]

['Atlanta Hawks',
 'St. Louis Hawks',
 'Milwaukee Hawks',
 'Tri-Cities Blackhawks',
 'Boston Celtics',
 'Brooklyn Nets',
 'Brooklyn Nets',
 'New Jersey Nets',
 'New York Nets',
 'New York Nets',
 'New Jersey Americans',
 'Charlotte Hornets',
 'Charlotte Hornets']

In [28]:
data = {
    "franchise": [],
    "lg":        [],
    "from":      [],
    "to":        [],
    "yrs":       [],
    "g":         [],
    "w":         [],
    "l":         [],
    "w/l%":      [],
    "plyfs":     [],
    "div":       [],
    "conf":      [],
    "champ":     []
}

for row in tablebody.getchildren()[1:14]:
    
    data["franchise"].append(row.getchildren()[0].text_content().strip())
    data["lg"].append(row.getchildren()[1].text_content().strip())
    data["from"].append(row.getchildren()[2].text_content().strip())
    data["to"].append(row.getchildren()[3].text_content().strip())
    data["yrs"].append(row.getchildren()[4].text_content().strip())
    data["g"].append(row.getchildren()[5].text_content().strip())
    data["w"].append(row.getchildren()[6].text_content().strip())
    data["l"].append(row.getchildren()[7].text_content().strip())
    data["w/l%"].append(row.getchildren()[8].text_content().strip())
    data["plyfs"].append(row.getchildren()[9].text_content().strip())
    data["div"].append(row.getchildren()[10].text_content().strip())
    data["conf"].append(row.getchildren()[11].text_content().strip())
    data["champ"].append(row.getchildren()[12].text_content().strip())

df = pd.DataFrame(data)    
df

,franchise,lg,from,to,yrs,g,w,l,w/l%,plyfs,div,conf,champ
0,Atlanta Hawks,NBA,1968-69,2019-20,52,4201,2068,2133,.492,33,5,0,0
1,St. Louis Hawks,NBA,1955-56,1967-68,13,1005,553,452,.550,12,6,0,1
2,Milwaukee Hawks,NBA,1951-52,1954-55,4,281,91,190,.324,0,0,0,0
3,Tri-Cities Blackhawks,NBA,1949-50,1950-51,2,132,54,78,.409,1,0,0,0
4,Boston Celtics,NBA/BAA,1946-47,2019-20,74,5796,3426,2370,.591,57,31,9,17
5,Brooklyn Nets,NBA/ABA,1967-68,2019-20,53,4294,1859,2435,.433,28,5,2,2
6,Brooklyn Nets,NBA,2012-13,2019-20,8,646,277,369,.429,5,0,0,0
7,New Jersey Nets,NBA,1977-78,2011-12,35,2822,1186,1636,.420,16,4,2,0
8,New York Nets,NBA,1976-77,1976-77,1,82,22,60,.268,0,0,0,0
9,New York Nets,ABA,1968-69,1975-76,8,666,338,328,.508,7,1,0,2
10,New Jersey Americans,ABA,1967-68,1967-68,1,78,36,42,.462,0,0,0,0
11,Charlotte Hornets,NBA,1988-89,2019-20,30,2395,1050,1345,.438,10,0,0,0
12,Charlotte Hornets,NBA,2014-15,2019-20,6,475,215,260,.453,1,0,0,0

In [29]:
df.champ.value_counts()

0     9
2     2
1     1
17    1
Name: champ, dtype: int64

In [30]:
df[df.champ == "17"]

,franchise,lg,from,to,yrs,g,w,l,w/l%,plyfs,div,conf,champ
4,Boston Celtics,NBA/BAA,1946-47,2019-20,74,5796,3426,2370,.591,57,31,9,17

In [31]:
conn   = sqlite3.connect(":memory:")

In [32]:
cursor = conn.cursor()

In [33]:
cursor.execute("""
    CREATE TABLE BBALL (
    FRANCHISE TEXT, 
    LEAGUE TEXT, 
    START_SEASON NUMBER, 
    END_SEASON NUMBER, 
    YEARS NUMBER, 
    GAMES NUMBER, 
    WINS NUMBER, 
    LOSSES NUMBER, 
    WIN_LOSS INTEGER, 
    REACHED_PLAYOFFS NUMBER, 
    WON_DIVISION NUMBER, 
    WON_CONFERENCE NUMBER, 
    WON_CHAMPIONSHIP
    )
""")

In [34]:
db     = sqlite3.connect(":memory:")
cursor = db.cursor()
cursor.execute("""
    CREATE TABLE BBALL(FRANCHISE TEXT, LEAGUE TEXT, START_SEASON NUMBER, END_SEASON NUMBER, YEARS NUMBER, GAMES NUMBER, WINS NUMBER, LOSSES NUMBER, WIN_LOSS INTEGER, REACHED_PLAYOFFS NUMBER, WON_DIVISION NUMBER, WON_CONFERENCE NUMBER, WON_CHAMPIONSHIP NUMBER)
""") 

db.close()

In [35]:
df [ df.plyfs.isin(["0", "1"]) ]

,franchise,lg,from,to,yrs,g,w,l,w/l%,plyfs,div,conf,champ
2,Milwaukee Hawks,NBA,1951-52,1954-55,4,281,91,190,.324,0,0,0,0
3,Tri-Cities Blackhawks,NBA,1949-50,1950-51,2,132,54,78,.409,1,0,0,0
8,New York Nets,NBA,1976-77,1976-77,1,82,22,60,.268,0,0,0,0
10,New Jersey Americans,ABA,1967-68,1967-68,1,78,36,42,.462,0,0,0,0
12,Charlotte Hornets,NBA,2014-15,2019-20,6,475,215,260,.453,1,0,0,0

In [36]:
for row in df[df.plyfs.isin(["0", "1"])].itertuples():
    print(row[1:])

('Milwaukee Hawks', 'NBA', '1951-52', '1954-55', '4', '281', '91', '190', '.324', '0', '0', '0', '0')
('Tri-Cities Blackhawks', 'NBA', '1949-50', '1950-51', '2', '132', '54', '78', '.409', '1', '0', '0', '0')
('New York Nets', 'NBA', '1976-77', '1976-77', '1', '82', '22', '60', '.268', '0', '0', '0', '0')
('New Jersey Americans', 'ABA', '1967-68', '1967-68', '1', '78', '36', '42', '.462', '0', '0', '0', '0')
('Charlotte Hornets', 'NBA', '2014-15', '2019-20', '6', '475', '215', '260', '.453', '1', '0', '0', '0')

In [37]:
row

Pandas(Index=12, franchise='Charlotte Hornets', lg='NBA', _3='2014-15', to='2019-20', yrs='6', g='475', w='215', l='260', _9='.453', plyfs='1', div='0', conf='0', champ='0')

In [38]:
row[1:]

('Charlotte Hornets',
 'NBA',
 '2014-15',
 '2019-20',
 '6',
 '475',
 '215',
 '260',
 '.453',
 '1',
 '0',
 '0',
 '0')

In [54]:
db     = sqlite3.connect(":memory:")
cursor = db.cursor()
cursor.execute("""
    CREATE TABLE BBALL(FRANCHISE TEXT, LEAGUE TEXT, START_SEASON NUMBER, END_SEASON NUMBER, YEARS NUMBER, GAMES NUMBER, WINS NUMBER, LOSSES NUMBER, WIN_LOSS INTEGER, REACHED_PLAYOFFS NUMBER, WON_DIVISION NUMBER, WON_CONFERENCE NUMBER, WON_CHAMPIONSHIP NUMBER)
""") 

for row in df[df.w.isin(["0", "1"])].itertuples():
    insert_sql_syntax = """
        INSERT INTO BBALL(FRANCHISE TEXT, LEAGUE TEXT, START_SEASON NUMBER, END_SEASON NUMBER, YEARS NUMBER, GAMES NUMBER, WINS NUMBER, LOSSES NUMBER, WIN_LOSS INTEGER, REACHED_PLAYOFFS NUMBER, WON_DIVISION NUMBER, WON_CONFERENCE NUMBER, WON_CHAMPIONSHIP NUMBER)
        VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?)
    """
    cursor.execute(insert_sql_syntax, row[1:])
    print(row[1:])

# db.close()

In [44]:

len(row[1:])

13

In [56]:
cursor.execute("""
    SELECT *
    FROM BBALL
    WHERE WINS = "1"
""")

In [57]:
for row in cursor.execute("""
    SELECT *
    FROM BBALL
    WHERE WINS = "1"
"""):
    print(row)